@import '../../../../styles/set';

.container {
  max-width: rem(1100px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  height: 100%;
}