@import '../../../styles/mixins';
@import '../../../styles/vars';

.topmenu {
  margin: 0 rem(10px);

  @include s-phone() {
    margin: rem(10px) rem(10px);
  }
}

.link {
  font-family: $font-title;
  font-size: rem(18px);
  margin-right: rem(80px);
  text-transform: uppercase;
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-active-link;
  }

  &:active {
    color: $color-active-link;
  }

  &:last-child {
    margin-right: 0;
  }

  @include tablet() {
    margin-right: rem(35px);
  }

  @include phone() {
    font-size: rem(16px);
    margin-right: rem(20px);
  }

  @include s-phone() {
    margin: rem(10px);
  }

}

.active {
  color: $color-active-link;
  position: relative;

  &:before {
    content: '[ ';
    display: block;
    position: absolute;
    top: -2px;
    left: -7px;
  }
  &:after {
    content: ' ]';
    display: block;
    position: absolute;
    top: -2px;
    right: -7px;
  }
}