@import '../../../styles/mixins';

.header {
  background-color: var(--color-header-layout);
  padding: rem(10px);
}

.container {
  max-width: rem(1100px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  align-items: center;
  height: 100%;
}
