@import '../../node_modules/normalize-scss/sass/normalize';
@import 'mixins';
@import 'fonts';
@import 'vars';


html {
  @include desktop() {
    font-size: 16px;
  }

  @include laptop() {
    font-size: 14px;
  }

  @include minilaptop() {
    font-size: 13px;
  }

  @include tablet() {
    font-size: 12px;
  }

  @include phone() {
    font-size: 11px;
  }
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  //background: 'white';
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: $color-layout;

}

.container {
  max-width: rem(1100px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  height: 100%;
}