@import 'set.scss';
// ------------------------------ base styles ---------------------------------//

html {
  @include desktop() {
    font-size: 16px;
  }

  @include laptop() {
    font-size: 14px;
  }

  @include minilaptop() {
    font-size: 13px;
  }

  @include tablet() {
    font-size: 12px;
  }

  @include phone() {
    font-size: 11px;
  }
}

body {
  position: relative;
  background: $color-white;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.main {
  flex: 1;
}
