@import 'set.scss';
// ------------------------------ base styles ---------------------------------//

html {
  @include desktop() {
    font-size: 16px;
  }

  @include laptop() {
    font-size: 14px;
  }

  @include minilaptop() {
    font-size: 13px;
  }

  @include tablet() {
    font-size: 12px;
  }

  @include phone() {
    font-size: 11px;
  }
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: $color-white;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

