@import 'fonts.scss';
@import 'mixins.scss';

// ----------------------------------- variable --------------------------------//

$color-layout: #EEEEEE;
$color-layout-dark: #E2DEDE;
$color-logo: #B72E43;
$color-logo-dark: #8F121E;

$color-dark: #000000;
$color-title: #7E157C;
$color-base-backgound: #FAFAFA;
$color-backlink: #DC98DB;
$color-white: #fff;
$color-active-link: #B72E43;

$title-font: 'Conv_Nefelibata-SansCanvas', sans-serif;
$subtitle-font: 'Conv_PT_Serif-Web-Bold', sans-serif;
$base-font: 'Conv_PT_Serif-Web-Regular', serif;
$link-font: 'Conv_Neucha', arial;

