// --------- variable -----------//
  $color-header-layout: #FFFFFF;
  $color-footer-layout: #C9F1F6;
  $color-layout: #FDFDFD;

  $color-link: #000000;
  $color-active-link: #f75408;

  $font-title: pt_sansbold, sans-serif;
  $font-subtitle: pt_sansregular, sans-serif;
  $font-base: pt_serifregular, serif;


