// --------- variable -----------//
  $color-header-layout: #FFFFFF;
  $color-footer-layout: #C9F1F6;
  $color-layout: #FDFDFD;
  $color-layout-dark: #E2DEDE;
  $color-logo: #B72E43;
  $color-logo-dark: #8F121E;

  $color-link: #000000;
  $color-active-link: #f75408;

  $font-title: 'PTSans_bold', sans-serif;
  $font-subtitle: 'PTSans_bold', sans-serif;
  $font-base: 'PTSerif', serif;


