@import '../../../styles/mixins';

.wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: rem(1100px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    flex: 1;
}

