@import '../../../styles/mixins';
@import '../../../styles/vars';

.menu {
  position: relative;
  flex: 1;
}

.list {
  @include centered();
  max-width: rem(550px);
  max-height: rem(550px);
}

.list_direct {
  transform: rotate(0deg);
}

.list_turned {
  transform: rotate(45deg);
}

.list__elem {
  width: rem(150px);
  height: rem(150px);
  position: absolute;
  border: 1px solid #b9f;
  border-radius: 100%;
}